code/backend/tests/__pycache__/
code/backend/src/__pycache__/
code/backend/src/.pytest_cache/
code/backend/.pytest_cache/
code/backend/src/models/__pycache__/
code/backend/src/models/.pytest_cache/
code/backend/src/services/__pycache__/
